.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}

.modalContent {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.closeBttn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
}

.closeBttn:hover {
  cursor: pointer;
  opacity: 0.5;
}
